body{
    font-family: "Open Sans", sans-serif;
}
h1{
    font-size: 2.0em;
    color: Navy;
    margin-top: 1em;
}
h2{
    font-size: 1.8em;
    color: Navy;
}

nav li{
    display:inline;
    padding: 0 1em;
    margin-left: -5px;
    padding: 5px 1em 5px 1em;
    background-color: #CCD;
}

nav li a{
    background-color: #CCD;
    padding : 5px;
}

nav li a:hover{
    background-color: yellow;
}

#teks1,#teks2,#teks3{
    background-color: lightyellow;
    padding : 0.5em;
    margin: 0.5em 0;
    border-radius: 1em;
}

div ul,ol{
    padding-left:0em;
    margin-top: 0em;
    list-style-position: inside;
}

div ol{
    counter-reset: item;
}


div ol li{
    display: block;
}

div ol li:before{
    content: counters(item,".")". ";
    counter-increment: item;
}

dt {
    background-color: navy;
    color: white;
    border-radius: 1em 1em 0 0;
    padding-left: 1em;
}

dd{
    background-color: #ccd;
    border-radius: 0 0 1em 1em;
    margin-left: 0;
    padding-left: 1em;
    margin-bottom: 0.5em;
}
p {
    margin-bottom: 0em;
}