nav{
    overflow: hidden;
    background-color: #333;
    height: 30px;
}

nav ul{
    list-style-type: none;
    width: 100%;
    margin: 0;
}

nav li{
    float: left;
    margin: 0em;
}

nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding-right: 5em;
    padding: 5px 1.5em ;
    height: 30px;
}

nav li a:hover, .active{
    background-color: #C74451;
}
.judul{
    font-weight: bold;
    padding-top: 10px;;
}

.tanggal{
    font-style: italic;
}

.isi_artikel{
    border-bottom: 1px solid lightgray;
    
}

footer{
    text-align: center;
    background-color: rgb(54, 51, 51);
    padding: 1px;
    color:white;
}

footer a{
    text-decoration: none;
    color:white;
}