body {
    font-family: ’Open Sans’, sans-serif;
   }
   h1 {
    font-size: 2.0em;
    color: Navy;
    margin-top: 1em;
   }
   h2 {
    font-size: 1.8em;
    color: Navy;
   }
   nav ol {
       list-style-type: none;
   }
   nav li {
       padding: 0.2em 1em 0.2em 1em;
       margin-right: 0em;
       margin-right: 0em;
       display: inline;
       background-color: #aab
   }
   nav li a {
        padding: 0.2em 1em 0.2em 1em;
       background-color: #ccd;
       text-decoration: none;
   }
   nav li a:hover {
       background-color: yellow;
   }
   #bagianatas p{
       padding: 0.5em 0.5em 0.5em 0.5em;
       margin: 0.5em 0em 0.5em 0;
       background-color: lightyellow;
       border-radius: 1em;
   }
   dt {
       margin-top: 0.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
       background-color: navy;
       color: white;
       border-top-left-radius: 1em;
       border-top-right-radius: 1em;
   }
   dd {
    padding: 0.5em 0.5em 0.5em 0.5em;
       background-color: #ccd;
       color:black;
       border-bottom-left-radius: 1em;
       border-bottom-right-radius: 1em;
        margin-left: 0; 
   }
   #bagianbawah ul, ol{
       list-style-position: inside;
       margin-top: 0em;
       padding-left: 0em;
   }
   
   #bagianbawah p{
       margin-bottom: 0em;
   }
   #bagianbawah ol{
    counter-reset: section;
    list-style-type: none;
   }
   #bagianbawah ol li:before{
        counter-increment: section;
        content: counters(section,".") " ";
      
   }